%button {
  -webkit-font-smoothing: antialiased;
  background-color: $base-button-color;
  //border-radius: $base-border-radius;
  color: white;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  @include transition(background 0.1s linear);
  &:hover {
    background-color: $hover-button-color;
    color: white;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}


button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn, .btn-important {
	@extend %button;
	
}


@mixin btn-yellow {
  
  color:$white;
  text-decoration:none;
  background:$yellow;
  &:visited {
    color:$white;
    text-decoration:none;
  }
  &:hover {
    background:$yellowdark;
  }
}
.btn-yellow {
  @include btn-yellow;
  border:0;
  color:$white;
  border-radius:.25em;
  padding:$baseline $baseline*2;
  &.small {
    font-size:.75em;
  }
}
.btn-yellow-cta {
  a {
    font-size:1.2em;
    display:block;
    text-align:center;
    @include btn-yellow;
    @include headerfont;
    text-transform: uppercase;
    border:0;
    color:$white;
    //border-radius:.25em;
    padding:$baseline $baseline*2;
    &.small {
      font-size:.75em;
    }
    @include mq(medium) {
      display:inline-block;
      text-align:center;
    }
  }
}