
// Neat Breakpoints
@mixin mq($mq) {
  @if $mq == small  { @media (max-width: $medium-screen) { @content; } }
  @if $mq == medium  { @media (min-width: $medium-screen) { @content; } }
  @if $mq == large { @media (min-width: $large-screen) { @content; } }
  @if $mq == xlarge { @media (min-width: $xlarge-screen) { @content; } }
  @if $mq == xxlarge { @media (min-width: $xxlarge-screen) { @content; } }
  @if $mq == retina  { @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { @content; } }
}


// Other
@mixin margin-fix {
	> *:first-child {
		margin-top:0;
	}
	> *:last-child {
		margin-bottom:0;
	}
}



//Images
@mixin img-center {
	display:block;
	margin:0  auto;
}


//Links
@mixin whitelinks {
	color:$white;
	text-decoration:none;
	&:visited {
		color:$white;
	}
	&:hover {
		color:$grey;
	}
}


@mixin headerfont {
	font-family:$header-font-family;
	font-weight:300;
}