.site-wrap {
    background: $white;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

/*=============== Site Header ===============*/

.site-header {
    position: relative;
    z-index: 999;

    .social-wrap {
        display: none;
    }

    @include mq(medium) {
        .social-wrap {
            display: block;
        }
    }
}

//Site Header Icons
.sh-icons {
    float: right;

    @include mq(large) {
        display: none;
    }
}

%sh-ico {
    background-repeat: no-repeat;
    background-position: center top;
    display: inline-block;
    padding-top: 1.2em;
    width: 2em;
    margin-left: 1em;
    text-align: center;

    //background-color:red;
    span {
        font-size: .75em;
        color: #ffffff;
    }

    @include mq(medium) {
        //float:right;
    }
}

.sh-ph {
    margin: 0;

    i {
        font-style: normal;
        //display:none;
    }

    @include mq(medium) {
        font-size: $medium-font-size;

        i {
            //display:inline;
        }
    }
}

.sh-ico-search {
    background-image: url(img/ico-search.svg);
    @extend %sh-ico;
    float: right;

    @include mq(medium) {
        margin-left: 0;
    }
}

.sh-ico-menu {
    background-image: url(img/ico-nav.svg);
    @extend %sh-ico;

    @include mq(large) {
        display: none;
    }
}

@include mq(medium) {
    .site-nav {
        width: 93%;
    }

    .sh-ico-search {
        width: 12%;
    }
}

//This removes the blank space Webtrax adds to the footer
img[name=pphLoggerImage] {
    display: none;
}

/*=============== Search ===============*/

.search-table {
    display: table;
    width: 100%;
    float: right;
    padding: 0;
}

.search-row {
    display: table-row;
    width: 100%;
}

.search-cell1 {
    display: table-cell;
    padding-right: 0.4375em;
}

.search-cell2 {
    display: table-cell;
    width: 2.1875em;
    border: 0;
}

.search-text {
    font-size: .8em;
    width: 100%;
    height: 2.3em;
    border: 1px solid red;
    float: left;
    padding-left: .5em;
    margin-bottom: 0 !important;
}

.search-submit {
    width: 100%;
    height: 2.3em;
    border: 0;
    float: right;
    background: url(img/ico-search.svg) no-repeat center center !important;
}

.no-svg {
    .search-submit {
        background: url(img/ico-search.png) no-repeat center center !important;
    }
}

@include mq(medium) {
    .site-search {
        width: 100%;
    }

    .search-text {
        height: 2.3em;
    }

    .search-submit {
        height: 2.3em;
    }
}

@include mq(large) {
    .search {}

    .search-text {}
}

.search-module {
    background-color: $dark-gray;
    height: 6em;
    margin-top: -6em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.47);
    position: relative;
    z-index: 10000;
    @include transition (all .2s ease-in-out);

    &.active {
        margin-top: 0;
    }

    .inner-wrap {
        padding: 0.3em 1.5em 1em;
    }
}

.search-exit {
    float: right;
    margin-left: 10px;
    margin-bottom: 5px;
    //position:absolute;
    top: 0;
    right: 0;
}

/*=============== Inner Wrap ===============*/

.inner-wrap {
    @include outer-container;
}

//Site Header
.site-header {
    background: $black;

    .logo {
        width: 10em;
    }

    .inner-wrap {
        padding-top: $baseline;
        padding-bottom: $baseline;
        //background:blue;

        @include mq(large) {
            .utility-nav {
                nav {
                    font-size: 0.75em;
                }
            }
        }
    }

    @include mq(medium) {
        .logo {
            float: left;
            @include span-columns(3 of 12);

            img {
                float: left;
            }
        }

        .inner-wrap {
            padding-top: $baseline*2;
            padding-bottom: $baseline*2;
        }
    }

    @include mq(large) {
        .inner-wrap {
            .utility-nav {
                nav {
                    font-size: 12px;
                }
            }
        }
    }

    @include mq(xlarge) {
        .inner-wrap {
            max-width: 1350px;

            .utility-nav {
                nav {
                    font-size: 0.75em;
                }
            }
        }
    }
}

.utility-nav {

    //background:green;
    .phone {
        display: none;
    }

    nav {
        display: none;
    }

    @include mq(large) {
        @include span-columns(8 of 8);
        @include omega;
        float: right;
        text-align: right;

        .phone {
            display: inline;
        }

        nav {
            display: inline;
            text-align: right;
            //background:red;
            font-size: em(12);
            color: $white;
            margin-right: 1em;

            a {
                @include whitelinks;
            }
        }

        .social-wrap {
            @include span-columns(1.85 of 7);
            @include omega;
            float: right;

            @include mq(medium) {
                width: 38.404%;
            }

            @include mq(large) {
                width: 23.404%;
            }
        }

        .phone {
            font-size: em(21);
            font-family: $header-font-family;
            font-weight: 300;
            float: left;
            @include whitelinks;
        }
    }

    @include mq(medium) {
        margin-bottom: $baseline*2;
    }
}

.header-nav-wrap {

    //background:blue;
    @include mq(medium) {
        @include span-columns(9 of 12);
        padding-top: em(15);
    }

    @include mq(large) {
        padding-top: em(35);
    }
}

.site-content {}

#idContentTblCell {}

.site-content-primary {
    >*:first-child {
        margin-top: 0;
    }

    @include mq(large) {
        @include span-columns(8.5 of 12);
    }
}

.site-content-secondary {
    >*:first-child {
        margin-top: 0;
    }

    @include mq(large) {
        @include span-columns(3.5 of 12);

        .btn-yellow-cta {
            a {
                width: 100%;
                display: block;
            }
        }
    }
}

.site-footer {
    text-align: center;

    @include mq(medium) {
        text-align: left;
    }
}

.footer-address {
    @include mq(medium) {
        float: left;
        @include span-columns(6 of 12);
    }
}

.footer-associations {
    a {
        display: block;
        border: 1px solid $greydark;

        &:hover {
            border: 1px solid $grey;
        }
    }

    @include mq(medium) {
        @include span-columns(4 of 12);
        float: right;
    }
}

.small-footer {
    font-size: .875em;
    clear: both;
    color: $white;
    text-align: center;
    border-top: 1px solid $greydark;
    margin-top: $baseline*3;
    padding-top: $baseline*3;
}

/*=============== Wraps and Modules ===============*/

.inner-wrap {
    @include outer-container;
}

.inner-wrap-destination {}

.dark-module {
    color: $white;
    background-color: $black;

    a {
        @include whitelinks;
    }
}

.light-module {

    //color:$black;
    //background:$white;
    a {
        color: $black;

        &:visited {
            color: $black;
        }

        &:hover {
            color: $black;
            text-decoration: none;
        }
    }
}

.grey-module {
    background-color: $greylight;

    >*:first-child {
        margin-top: 0;
    }
}

.white-popup-block {
    //background:blue;
    //padding:10em;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
    margin: 0 auto;
    float: none !important;
}

/*=============== Aside Nav ===============*/

.aside-nav {
    ul {
        padding: 0;
    }

    li {
        border-top: 1px solid $grey;

        &:last-child {
            a {
                border-bottom: 1px solid $grey;
            }
        }
    }

    a {
        display: block;
        padding-bottom: .5em;
        padding-top: .5em;
        padding-left: .75em;
        color: $black;
        text-decoration: none;
        font-weight: 400;

        &:visited {
            text-decoration: none;
        }

        &:hover {
            background: $greylight;
        }
    }
}

/*=============== Logo ===============*/

.logo {}

/*=============== Social Media ===============*/

.social-wrap {
    overflow: hidden;

    a {
        display: block;
        float: left;
        width: 16%;
        text-align: center;

        &:hover {
            opacity: .75;
        }
    }

    img {
        display: inline-block;
        margin: 0 auto;
        width: 1.1em;
        height: auto;
        vertical-align: middle;
    }
}

/*=============== Site Intro ===============*/

.site-intro {
    text-align: center;
    font-family: $header-font-family;
    text-transform: uppercase;
    text-shadow: 0 0 8px #000000;
    background-color: $yellow;
    background-image: url(img/site-intro-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    font-size: .9em;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.site-intro-h1 {
    position: relative;

    span {
        font-size: 0.57692307692308em;
        display: block;
        font-weight: 300;
    }

    font-weight:400;
    color:$white;
    margin:0 0 .15em 0;
}

.site-intro-subtext {
    font-size: em(20);
    color: $white;
    font-weight: 300;
    margin: 0;
    //display:none;
}

.si-ctas {
    width: 100%;
    margin: auto;
    max-width: 317px;
    margin-top: 40px;

    .hs-cta-wrapper {
        float: none;
        line-height: auto;
        margin-bottom: 20px;
    }
}

#hs-cta-wrapper-ce48e773-d641-4ee1-bdb2-8780d9bb18ee {
    margin-right: 0px;
}

@media (min-width: 710px) {
    .si-ctas {
        width: 100%;
        margin: auto;
        max-width: 664px;
        margin-top: 40px;

        .hs-cta-wrapper {
            float: left;
        }
    }

    #hs-cta-wrapper-ce48e773-d641-4ee1-bdb2-8780d9bb18ee {
        margin-right: 30px;
    }
}

@include mq(medium) {
    .site-intro {
        font-size: 1em;

        // height:em(355);
        // line-height:em(355);
        .inner-wrap {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .site-intro-h1 {
        font-size: em(52);
        line-height: 1.2em;
    }

    .site-intro-subtext {
        display: block;
        line-height: 1.85em;
    }
}

@include mq(large) {
    .site-intro {
        .inner-wrap {}
    }

    .site-intro-h1 {
        font-size: em(60);
    }

    .site-intro-subtext {
        font-size: em(23);
    }
}

/*=============== Home Capabilities ===============*/

.home-capabilities {}

.home-capabilities-item {
    display: block;
    background: grey;
    position: relative;
    overflow: hidden;
    background-color: black;

    img {
        width: 100%;
        height: auto;
        display: block;
        //@include transition (opacity .5s ease-in-out);
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 10px solid $blacktrans;
        //@include transition (border .15s ease-in-out);
    }

    @include mq(medium) {
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 15px solid $blacktrans;
        }

        &:hover {
            img {
                /*filter: blur(5px);
              // Browser Specific
              -webkit-filter: blur(5px);
              -moz-filter:blur(5px);
              -o-filter: blur(5px);
              -ms-filter: blur(5px);*/
                opacity: .5;
            }

            &:after {
                border: 200px solid $blacktrans;
                z-index: -1;
            }
        }
    }

    @include mq(large) {
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 20px solid $blacktrans;
        }

        &:hover {
            .home-capabilities-item-body {
                display: inline-block;
                height: 100%;
            }
        }
    }
}

.home-capabilities-item-header {
    font-size: em(15);
    text-transform: uppercase;
    position: absolute;
    bottom: 1em;
    left: 1em;
    margin: 0;
    color: $white;
    text-shadow: 0 0 5px #000000;

    @include mq(medium) {
        font-size: em(20);
        text-shadow: 0 0 8px #000000;
    }

    @include mq(large) {
        font-size: em(24);
    }
}

.home-capabilities-item-body {
    color: $white;
    font-family: $header-font-family;
    font-weight: 300;
    font-size: em(18);

    ul {
        padding: 0;

        li {
            display: block;
            margin-bottom: .25em;
        }
    }

    //display:none;
    width: 80%;
    height: 0%;
    overflow: hidden;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    @include transition (all .3s ease-in-out);
}

/*=============== Portfolio Carousel ===============*/

.product-carousel {
    background: $greylight;
    margin-top: $baseline*3;
}

.product-carousel-item {
    text-decoration: none;
    //background:green;
    //width:em(250);
    display: block;
    overflow: hidden;

    @include mq(medium) {
        @include span-columns(12 of 12);
    }
}

.product-carousel-img {
    background: lighten($grey, 38%);
    display: block;
}

.product-carousel-item-header {
    font-size: em(18);
    color: $black;
    text-align: center;
}

/*=============== Text Form ===============*/

.textform {}

.textform-text {
    font-size: .8em;

    @include mq(large) {
        font-size: 1em;
    }
}

/*=============== Offer Module  ===============*/

.offer-module {
    background-color: $yellowwhite;
}

.om-offer {
    width: 100%;

    a {
        position: relative;
        width: 100%;
        display: block;
        text-decoration: none;
    }

    a:hover {
        color: $black;
    }

    a:hover .om-image {
        bottom: 0px;
    }

    @include mq(medium) {
        @include span-columns(4 of 12);
    }
}

.om-image {
    display: block;
    margin: auto;
    max-width: 100%;
    position: relative;
    bottom: -1.25em;
    @include transition;
}

.om-book-title {
    display: block;
    max-width: 100%;
    margin: auto;
    bottom: 0px;
    left: 0%;
    margin: auto;
    position: relative;
    bottom: 0;
    padding: 1em;
    background-color: $yellow;

    &:after {
        content: "";
        background-image: url("/assets/AI-homepage_14.png");
        width: 40px;
        height: 37px;
        color: $black;
        position: absolute;
        right: 5px;
        bottom: 20%;
    }
}

/*=============== Form ===============*/

.form-style {
    display: block;

    input {
        width: 100%;
        border: 0;
        margin-bottom: $baseline*3;
    }

    input[type=text],
    input[type=email] {
        border: 1px solid #f6efe0;
        height: $baseline*7;
        line-height: $baseline*7;
        padding-left: 1em;

        &:hover {
            border: 1px solid $grey;
        }

        &::-webkit-input-placeholder {
            font-size: 1.2em;
            color: $black;
            font-family: $header-font-family;
            font-weight: 300;
            text-transform: uppercase;
        }

        &:-moz-placeholder {
            /* Firefox 18- */
            font-size: 1.2em;
            color: $black;
            font-family: $header-font-family;
            font-weight: 300;
            text-transform: uppercase;
        }

        &::-moz-placeholder {
            /* Firefox 19+ */
            font-size: 1.2em;
            color: $black;
            font-family: $header-font-family;
            font-weight: 300;
            text-transform: uppercase;
        }

        &:-ms-input-placeholder {
            font-size: 1.2em;
            color: $black;
            font-family: $header-font-family;
            font-weight: 300;
            text-transform: uppercase;
        }
    }

    input[type=submit] {
        font-size: em(20);
        color: $white;
        font-family: $header-font-family;
        text-transform: uppercase;
        background-color: $yellow;
        border: 1px solid #ffcc63;
        height: $baseline*6;

        &:hover {
            background-color: $yellowdark
        }
    }
}

/*=============== Tables ===============*/

.table {
    display: block;
    width: 100%;
    margin: 0 0 1em 0;
    background: $yellowwhite;
}

.thead {
    display: block;
}

.row {
    display: block;
    width: 100%;
}

.colored-rows {
    .row {
        &:nth-child(2n+1) {
            .cell {}
        }
    }
}

.cell {
    display: block;
    //background-color:$greylight;
    border: .2em solid $white;
    padding: .5em .8em;
    vertical-align: top;

    //color:$blue;
    p {
        font-size: .95em;
        margin: .5em 0;
    }

    >ul {
        margin: .5em 0;

        >li {
            margin-bottom: 0 !important;

            //font-size:.7em;
            ul {
                padding: 0 0 0 1.8em;
            }
        }
    }

    input,
    select {
        width: 100%;
    }
}

.col {
    display: table-column;
}

.spec-col-1 {
    width: 100%;
}

.spec-col-2 {
    width: 100%;
}

@include mq(medium) {
    .table {
        display: table;
    }

    .thead {
        display: table-header-group;
    }

    .row {
        display: table-row;
    }

    .cell {
        display: table-cell;

        p {
            font-size: .95em;
        }
    }

    .spec-col-1 {
        width: 30%;
    }

    .spec-col-2 {
        width: 70%;
    }
}

/*=============== Design Patterns ===============*/

.list-solid-bg {
    display: block;
    overflow: hidden;
    padding: 0;
    @include headerfont;
    font-size: 1.2em;

    li {
        display: block;
        background-color: $yellowwhite;
        padding: $baseline;
        border-bottom: 4px solid $white;
        //border:1px solid $white;
        width: 50%;
        float: left;
        border-right: 4px solid $white;
    }
}

.media-block {
    display: block;
    //background:green;
    margin-bottom: $baseline*4;
    overflow: hidden;
    text-decoration: none;
}

.media-img {
    display: block;
    float: left;
    max-width: 35%;
    margin-right: 5%;
}

.media-bd {
    @include headerfont;
    font-size: 1.2em;
    //background:red;
    //display:block;
}

.featured-img {
    margin-bottom: $baseline*3;
    overflow: hidden;

    @include mq(medium) {
        float: right;
        width: 40%;
    }

    @include mq(large) {
        @include span-columns(3.5 of 12);
        @include omega;
        float: right;
    }
}

.additional-imgs {
    display: none;

    @include mq(medium) {
        display: block;
    }
}

.no-placeholder {
    display: none;
}

.backtotop {
    font-size: em(14);
    //margin-bottom:0;
    text-align: right;

    a {
        text-decoration: none;
        padding-left: 1em;
        /*
        background-image: url(ico-arrowtop.svg);
        background-repeat: no-repeat;
        background-position: right center;*/
    }
}

/*=============== Misc ===============*/

#twitter-widget-0 {
    margin: 0 auto !important;
    clear: both;
    margin-top: .25em;
    display: block !important;

    @include mq(medium) {
        float: left;
    }
}

.wp-pagenavi {
    font-size: 1.4em;
    background: #F2F2F2;
    padding: .4em 1em;
    margin-bottom: 1em;

    a,
    span {
        margin-right: 1em;
    }

    .pages {
        margin-right: 2em;
    }
}

.page-id-9 ul .page_item a {
    font-size: 1.25em;
}

.page-id-9 ul .page_item .children .page_item a {
    font-size: 1em;
}

.page-id-9 ul .page_item .children .page_item .children .page_item a {
    font-size: 0.85em;
}

.more-link {
    font-size: 1.4em;
}

/*
#black_overlay {
  background-color: #333;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 50;
  }*/
/* HTML FOrm*/
/*.added{
  width:400px;
  border:2px solid #a5a5a5;
  padding:20px;
  background-color:#dfdfdf;
  border-radius:3px;
  display:none;
  text-align:center;
  z-index:999;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.added p{
  color:#414141;
  font-family:arial;
  font-size:13px;
  font-weight:bold;
}
.close {
  float: right;
  position: absolute;
  right: -8px;
  top: -10px;
  cursor:pointer;
  }*/
/*.hs-form.stacked .field, .hs-form.stacked .actions, .hs-form.stacked{
  margin:0 !important;
}
.hs-form.stacked label{
  font-family:arial !important;
  text-align:left;
}
.hs-form .hs-input, .hs-form textarea.hs-input{
  width:100% !important;
}
*/
/*=============== Resources Module ===============*/

.resources-module {
    background-color: #fff6e4;
}

.rm-item {
    text-align: center;
    //background-color: $light-gray;
    // background-color: #fff6e4;
    padding: 1em !important;

    &:hover {
        .rm-item-img {
            @include transform(scale(1.05));
        }
    }

    @include mq(medium) {
        margin-bottom: 0;
    }
}

.rm-item-cta {
    font-size: .75em;
    // padding: 0.5em 1em;
    font-weight: bold;
}

.rm-item-img {
    @include transition(all .15s ease-in-out);
    margin-bottom: $baseline*2;

    img {
        max-width: 70%;
    }
}

.rm-item-title {
    text-decoration: none;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    display: inline-block;
    text-align: center;
    //background-color:red;
    height: 2.5em;
    line-height: 2.5em;
    color: $base-font-color;
    position: relative;
    z-index: 10;

    span {
        line-height: 1.25em;
        display: inline-block;
        color: $base-font-color;
    }

    // &:after {
    //     content: '';
    //     position: relative;
    //     display:inline-block;
    //    // background-color:red;
    //     width: .75em;
    //     height:.75em;
    //     margin-left:.25em;
    //     background-position: center;
    //     background-repeat: no-repeat;
    //     background-image: url(http://cdn2.hubspot.net/hubfs/1793355/img/ico-arrow-orange.svg);
    //   }
}

.flexslider {
    .slides {
        li {
            margin-right: em(25);

            .product-carousel-item {
                width: 100%;
                margin-right: 0;
            }
        }
    }
}

.white-popup {
    h1 {
        font-size: 2em;
        color: $yellowdark;
        margin-bottom: 0.2em;
    }

    h2 {
        font-size: 1.5em;
    }

    .hs-form .hs-input,
    .hs-form textarea.hs-input {
        height: 2.5em;
    }
}

.industries-section-image {
    position: relative;
    width: 100%;

    img {
        display: block;
    }
}

.is-title {
    position: absolute;
    bottom: 0;
    left: em(25);
    width: 100%;
    color: #ffffff;
    text-shadow: 0px 2px 5px #000;
}

.is-link {
    position: relative;
    z-index: 1;
    display: block;

    &:hover {
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 20px solid rgba(0, 0, 0, 0.25);
        }
    }
}

/* ======= GDD 001 B CSS  ======= */

.site-header-wrap {
    background-image: url(img/img-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    /*height: 9.375em;*/
}

.gdd-001-b-site-intro {
    background-color: transparent;
    background-image: none;

    >.inner-wrap {
        padding-top: em(30);
        padding-bottom: em(30);
    }

    .si-ctas {
        margin-top: em(56);
    }

    @include mq(medium) {
        >.inner-wrap {
            padding-top: em(100);
            padding-bottom: em(91);
        }
    }
}

.gdd-001-b-site-header {
    background-color: rgba(0, 0, 0, 0.74);

    >.inner-wrap {
        padding-bottom: em(21);
    }

    .sn-li-l1 {
        &:last-child {
            background-color: transparent;
        }
    }

    @include mq(large) {
        .utility-nav {
            display: block;
            width: auto;
            margin-right: 0;
            //float: none;
            text-align: right;
            padding-top: em(2);
            margin-bottom: em(17);

            nav {
                font-size: em(14);
                margin-right: 0;
            }

            a {
                color: $light-grey;
                margin-right: em(10, 15);

                &:last-child {
                    margin-right: 0;
                }
            }

            .un-phone {
                position: relative;
                padding-left: em(31, 15);
                margin-right: em(10, 15);

                &:before {
                    content: "";
                    position: absolute;
                    background-image: url(img/ico-phone.png);
                    background-repeat: no-repeat;
                    background-position: left center;
                    width: em(18,12);
                    height: em(18,12);
                    left: 0;
                    top: 0;
                }

                span {
                    text-transform: uppercase;
                    color: #CCCDCE;
                }
            }
        }

        .site-nav-container {
            width: auto;
        }

        .logo {
            max-width: em(270);
            width: 28%;
        }

        .site-nav {
            width: auto;
            margin-right: em(21);
            background-color: transparent;
        }

        .sh-ico-search {
            width: em(27);
            height: em(31);
            float: none;
            vertical-align: middle;
            margin-right: em(34);
            background-size: em(25);
        }

        .sn-li-l1 {
            /*margin-bottom: em(25);*/

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                width: auto;
                background-color: transparent;
            }

            &.has-subnav,
            &.menu-item-has-children {
                >a {
                    &:after {
                        content: "";
                        position: absolute;
                        background-image: url(img/ico-arrow-down.png);
                        background-repeat: no-repeat;
                        background-position: center bottom;
                        background-size: auto em(7, 18);
                        bottom: 0;
                        width: 100%;
                        height: em(7, 18);
                        left: 0;
                    }
                }
            }

            >a {
                position: relative;
                font-size: em(18);
                font-weight: normal;
                padding: 0 em(19, 18);
                line-height: 3.125em;

                span {
                    padding-right: 0;
                    font-size: 1em;
                    background-image: none;
                }
            }
        }
    }

    @include mq(large) {
        .utility-nav {
            a {
                margin-right: em(8, 15);
            }

            .un-phone {
                margin-right: em(20, 15);
            }
        }

        .sn-li-l1 {
            margin-bottom: 0;

            >a {
                span {
                    font-size: 14px;
                }
            }
        }
    }

    @include mq(xlarge) {
        .utility-nav {
            a {
                margin-right: em(42, 15);
            }

            .un-phone {
                margin-right: em(56, 15);
            }
        }

        .sn-li-l1 {
            margin-bottom: 0;

            >a {
                span {
                    font-size: 1em;
                }
            }
        }
    }
}

.rfq {
    color: $dark-black;
    font-size: em(18);
    text-transform: uppercase;
    padding: em(17, 17) em(22, 17) em(15, 17) em(23, 17);
    font-family: $header-font-family;
    font-weight: normal;
    width: 100%;
    text-align: center;

    &:hover {
        background-color: $light-yellow;
        color: $dark-black;
    }

    @include mq(medium) {
        width: auto;
    }
}

.si-header {
    font-size: em(51);
    color: $dark-yellow;
    line-height: em(56, 51);
    margin-bottom: em(27, 51);

    span {
        font-size: em(27, 51);
        color: white;
        display: block;
        font-weight: 300;
    }
}

.si-text {
    font-size: em(24);
    color: white;
    font-weight: 300;
    margin-top: em(10, 24);
    line-height: em(35, 24);
}

.si-cta {
    font-size: em(20);
    background-color: transparent;
    border: 1px solid $dark-yellow;
    padding: em(15, 20) em(30, 20) em(14, 20) em(34, 20);
    text-transform: none;
    font-weight: 400;
}

.sf-industry {
    @include mq(medium) {
        display: inline-block;
        padding-top: em(26);
        margin-left: em(30);
    }
}

.gdd-001-b-site-footer {
    >.inner-wrap {
        padding-top: em(20);
        padding-bottom: em(30);
    }

    .sf-follow-us {
        a {
            display: inline-block;
            border: 0;
            vertical-align: middle;
            margin-right: em(20);

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .text-member {
        display: block;
    }

    .sf-link-wrap {
        display: block;
        margin-bottom: em(15);
    }

    .col-3-mobile {
        display: block;
    }

    .sf-link {
        margin-right: em(4);

        &:last-child {
            margin-right: 0;
        }
    }

    @include mq(medium) {
        .footer-address {
            width: auto;
            font-size: em(14);
            line-height: em(22, 14);
        }

        .text-large-header {
            font-size: em(20, 14);
            font-weight: 400;
            margin-bottom: em(3, 20);
        }

        .sf-link-wrap {
            margin-bottom: em(18);
            float: left;
        }

        .sf-link {
            margin-right: em(23, 15);
            font-size: em(15);
        }

        .sf-left-wrap {
            float: left;
            width: 55%;
            margin-right: 2%;
        }

        .text-member {
            font-size: em(15);
            font-weight: 600;
        }

        .sf-follow-us {
            display: block;
            margin-top: em(15);
            overflow: hidden;

            span {
                font-size: em(15);
                margin-right: em(20, 15);
                font-weight: 600;
            }

            a {
                margin-right: em(10);
            }
        }

        .col-3-mobile {
            margin-top: em(5);

            >a {
                max-width: em(75);
                margin-right: em(10);
                width: 31%;

                &:last-child {
                    margin-right: 0;
                }

                img {
                    display: block;
                    vertical-align: top;
                }
            }
        }

        .small-footer {
            font-size: em(12);
        }

        .tms {
            text-decoration: underline;
        }

        .footer-associations {
            width: auto;
            margin-right: 0;
        }
    }

    @include mq(large) {
        .sf-link {
            margin-right: em(26, 15)
        }

        .sf-follow-us {
            a {
                margin-right: em(20);
            }
        }

        .footer-associations {
            width: auto;
        }

        .col-3-mobile {
            >a {
                max-width: em(101);
                margin-right: em(30);
                width: 28%;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

#hs-cta-wrapper-eb238790-c2bf-4dc5-8e62-1a04c508095e {
    margin-right: em(30);
    margin-bottom: em(10);
}

.video-module {
    .popup-youtube {
        span {
            display: block;
            text-align: center;
        }
    }
}

.home-capabilities-gdd-002-b {

    .hc-images {
        height: em(100);
        width: em(100);
        display: block;
        margin: 50px auto 80px;
    }


    .home-capabilities-item-header {
        text-shadow: none;
        display: block;
        text-align: center;
        position: absolute;
        bottom: 15px;
        margin: 0 auto;
        left: 0;
        right: 0;

    }

    .home-capabilities-item {
        &:after {
            border: none;
        }
    }

}







/**GDD 003 Resource page VarB***/

/*** Breadcrumb***/
.resources-breadcrumb-wrap {
    background-color: #030200;
}

.resources-breadcrumb-wrap .inner-wrap {
    padding-top: 13px;
    padding-bottom: 13px;
}

.resources-menu li {
    display: block;
    color: #ffffff;
    font-weight: 400;
    font-family: "Oswald";
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
}

.resources-menu li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    font-family: "Oswald";
    font-size: 16px;
}

.resources-menu li a:hover {
    text-decoration: underline !important;
}

@media (min-width: 60em) {

    #res-wrap {
        padding-top: 35px;
    }

    .resources-menu li {
        display: inline-block;
        width: auto !important;
    }

    .resources-menu li {
        padding: 0 em(13);
        border-left: 1px solid #ffffff;
    }

    .resources-menu li:first-child {
        padding-left: 0;
        border: none;
    }

    .resources-menu li:last-child {
        padding-right: 0;
    }

}


@media (min-width: 40em) {
    .resources-menu li {
        display: inline-block;
        width: 30%;
    }
}

@media (min-width: 80em) {

    .resources-menu li {
        padding: 0 em(28) !important;
        border-left: 1px solid #ffffff;
    }

    .resources-menu li:first-child {
        padding-left: 0 !important;
        border: none !important;
    }

    .resources-menu li:last-child {
        padding-right: 0 !important;
    }

}

/*** Breadcrumb end ***/

/** Resource RFQ section ***/
.gdd003-rfqcta {
    font-size: 1.2em;
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    background: #ffbd34;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    border: 0;
    color: white;
    padding: 0.5em 1em;
}


.gdd003-rfqcta:hover {
    background: #ffac01;
    color: #ffffff;
}

.emph {
    margin-top: 0;
}

@media (min-width: 60em) {

    .rr-wrap .rr-left {
        width: 70% !important;
    }

    .rr-wrap .rr-right {
        width: 27.5% !important;
        margin-top: 8px;
    }


}


@media (min-width: 40em) {

    .rr-wrap {
        overflow: hidden;
    }

    .rr-wrap>* {
        float: left;
    }

    .rr-wrap .rr-left {
        width: 69%;
    }

    .rr-wrap .rr-right {
        width: 29%;
        float: right;
    }


}

/** Resource RFQ section end ***/

.page-id-1206 {

    .site-content-secondary {
        display: none;
    }

}


.material-selection {
    border-bottom: 1px solid #c0c0c0;
}



.gdd-003-b .ms-item {
    text-align: center;
    text-decoration: none;
}

.gdd-003-b .ms-title {
    position: relative;
    color: #000000;
    font-size: 16px;
    font-family: Arial;
    font-weight: 400;
    margin-bottom: 0px;
}

.gdd-003-b .ms-title:hover {
    color: #ffbd34;
}

.ms-title::after {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    background-image: url(http://www.americanindust.com/assets/res-download.svg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    margin-left: 10px;
}

.material-selection h2 {
    font-weight: 400;
    font-size: 26px;
}

@media (min-width: 60em) {

    .ms-wrap {
        padding: 10px 20px;
    }

    .material-selection h2 {
        margin-top: 8px;
    }

}

/*** carousel **/

.rem-heading {
    font-weight: 400;
    font-family: "Oswald";
    font-size: 26px;
}

.resources-ebook-module {
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 20px;
    padding-top: 10px;
}

.rem-link {
    text-decoration: none;
}

.resources-ebook-module .rem-carousel {
    margin: 0 auto;
    width: 100%;
    padding-top: 23px;
}


.resources-ebook-module .rem-carousel .owl-item img {
    width: auto;
    margin: 0 auto;
}

.resources-ebook-module .rem-carousel .owl-dots {
    display: none;
}


.resources-ebook-module .rem-carousel .owl-nav {
    margin: 0;
}


.resources-ebook-module .rem-carousel .owl-nav button.owl-prev {
    left: 0;
    position: absolute;
    top: 38%;
    transform: translateY(-50%);
    background-image: url(http://www.americanindust.com/assets/ebooks-prev-nav.png);
    background-repeat: no-repeat;
    background-size: 24px 30px;
    background-position: center center;
    width: 24px;
    height: 30px;
    border-radius: 0;
    border: 0;
    margin: 0;
}


.resources-ebook-module .rem-carousel .owl-nav button.owl-prev.disabled {
    background-image: url(http://www.americanindust.com/assets/ebooks-prev-nav.png);
}


.resources-ebook-module .rem-carousel .owl-nav button.owl-prev:hover {
    background-image: url(http://www.americanindust.com/assets/arrow-prev-dark.png);
    background-color: transparent;
}

.resources-ebook-module .rem-carousel .owl-nav button.owl-prev:focus {
    outline: none;
}

.resources-ebook-module .rem-carousel .owl-nav button.owl-next:focus {
    outline: none;
}

.resources-ebook-module .rem-carousel .owl-nav button.owl-prev:after {
    display: none;
}


.resources-ebook-module .rem-carousel .owl-nav button.owl-next {
    right: 0;
    position: absolute;
    top: 38%;
    transform: translateY(-50%);
    background-image: url(http://www.americanindust.com/assets/ebook-next-nav.png);
    background-repeat: no-repeat;
    background-size: 24px 30px;
    background-position: center center;
    width: 24px;
    height: 30px;
    border-radius: 0;
    border: 0;
    margin: 0;
}


.resources-ebook-module .rem-carousel .owl-nav button.owl-next.disabled {
    background-image: url(http://www.americanindust.com/assets/ebook-next-nav.png);
}


.resources-ebook-module .rem-carousel .owl-nav button.owl-next:hover {
    background-image: url(http://www.americanindust.com/assets/arrow-next-dark.png);
    background-color: transparent;
}

.resources-ebook-module .rem-carousel .owl-nav button.owl-next:after {
    display: none;
}

.resources-ebook-module .rem-carousel .owl-nav button span {
    display: none;
}

.resources-ebook-module .rem-title {
    font-size: 16px;
    text-align: center;
    color: #000000;
    font-family: Arial;
    font-weight: 400;
    position: relative;
}

.resources-ebook-module .rem-title:hover {
    color: #ffbd34;
}

.resources-ebook-module .rem-title::after {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    background-image: url(http://www.americanindust.com/assets/res-download.svg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    margin-left: 10px;
}



@media (min-width: 60em) {

    .resources-ebook-module .rem-title {
        padding-left: 14px;
        padding-right: 14px;
    }

}

/*** end carousel ***/


/*** Infographics module **/
.infographics-wrap {
    @include mq(medium) {
        div {
            width: 30%;
        }
    }
}

.infographics a {
    text-decoration: none;
}

.info-heading {
    font-weight: 400;
    font-family: "Oswald";
    font-size: 26px;
}

.infographics-wrap h2 {
    font-size: 16px;
    font-family: Arial;
    font-weight: 400;

}

.infographics-left,
.infographics-right {
    text-align: center;
}

.infographics-title {
    position: relative;
}

.infographics-title::after {
    content: "";
    position: absolute;
    top: 4px;
    height: 15px;
    width: 15px;
    background-image: url(http://www.americanindust.com/assets/res-download.svg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    margin-left: 10px;
    right: 0;
}

@media (min-width: 60em) {

    .infographics-wrap h2 {
        margin-top: 38px;
    }

    .infographics-wrap {
        width: 899px;
        margin: 0 auto;
        padding-top: 20px;
    }

    .infographics-wrap .infographics-right {
        padding-top: 8.3%;
        position: relative;
        right: 8.6%;
    }


}

/*** Infographics module end **/

/*** Why work module **/

.why-work-section {
    text-align: center;
    background-image: url(http://www.americanindust.com/assets/whywork-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.why-work-section a:hover {
    color: #000000;
}

.why-work-section .inner-wrap {
    padding-top: 30px;
    padding-bottom: 30px;
}

.why-work-section h2 {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-left: 80px;
    display: inline-block;
}

.why-work-section span {
    font-weight: 500;
    margin-left: 8px;
}

.ww-title {
    position: relative;
}

.why-work-section .ww-title a:hover {
    color: #ffffff;
}

.ww-title::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    height: 70px;
    width: 60px;
    background-image: url(http://www.americanindust.com/assets/ww-logo-mark.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 60px 70px;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 60em) {
    .why-work-section h2 {
        font-size: 26px;
    }
}


/*** Video content module ***/

.vc-title {
    font-size: 26px;
    font-weight: 400;
    font-family: "Oswald";
    position: relative;
    margin-top: 0;
}


.vc-title a {
    font-weight: 400;
}

.vc-wrap>* {
    display: block;
    vertical-align: middle;
    text-align: center;
}

.video-content-module .inner-wrap {
    padding-top: 15px;
    padding-bottom: 0px;
}

.video-content-module {
    background-image: url(http://www.americanindust.com/assets/video-content-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    margin-bottom: 12px;
}


@media (min-width: 60em) {

    .vc-title {
        font-size: 20px;
    }

    .vc-wrap>* {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
    }

    .vc-left {
        text-align: center;
        width: 55%;
        padding-left: 8%;
    }

    .vc-right {
        width: 37%;
    }

    .vc-title::after {
        content: "";
        position: absolute;
        height: 46px;
        width: 100px;
        background-image: url(https://www.americanindust.com/wp-content/themes/american-industrial-default/img/vid-content-arrow.svg);
        background-position: left top;
        background-repeat: no-repeat;
        background-size: 100px 46px;
        bottom: 1px;
        margin-left: 13px;
    }


}

@media (min-width: 80em) {

    .vc-title {
        font-size: 26px !important;
    }

}

/*** Video content module end ***/

/*** Industries serve module ***/

.industries-served-module {
    border-bottom: 1px solid #c0c0c0;
}

.inds-wrap {
    text-align: center;
}

.inds-heading {
    font-size: 26px;
    font-weight: 400;
    font-family: "Oswald";
    padding-top: 10px;
}

.industries-served-module .inner-wrap {
    padding-top: 13px;
    padding-bottom: 10px;
    /* padding-left: 35px;
 padding-right: 0px;*/
}

.inds-box {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 3px 10px;
}

.inds-link:hover:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 20px solid rgba(0, 0, 0, 0.25);
    width: 145px;
    height: 145px;
}

.inds-title {
    position: absolute;
    color: #ffffff;
    font-family: "Oswald";
    font-weight: 100;
    font-size: 21px;
    bottom: 15px;
    text-transform: uppercase;
    left: 0px;
    width: 100%;
    margin-bottom: 0;
}

@media (min-width: 60em) {
    .inds-title {
        left: 8px;
    }

    /*
.inds-box {
 margin-right: 40px;
 }  */

    .inds-box {
        float: left;
        width: 19.2%;
        margin-left: 0;
    }

    .inds-wrap {
        text-align: left;
    }


}

@media (min-width: 80em) {

    .inds-box {
        width: 20% !important;
    }

    .inds-box:last-of-type {
        margin-right: 0 !important;
        width: auto;
    }

    /*.inds-box {
 margin-right: 40px !important;
 }  */

    .industries-served-module .inner-wrap {
        padding-right: 0px;
    }

}

/*** Industries serve module end ***/

/*** news section ***/

.resources-news-section {
    padding-top: 8px;
}

.resources-news-section .inner-wrap {
    padding-top: 27px;
}

.news-title a {
    font-weight: 400;
}

.news-heading {
    font-size: 26px;
    font-weight: 400;
    font-family: "Oswald";
    color: #030200;
}

.news-title {
    font-size: 18px;
    font-weight: 400;
    font-family: "Oswald";
    color: #030200;
}

.news-text {
    font-size: 14px;
    font-weight: 400;
    font-family: "Arial";
    color: #030200;
}

.news-wrap .read-more-btn {
    font-size: 14px;
    font-weight: 100;
    font-family: "Oswald";
    color: #030200;
    padding: 0.95em 1.3em;
}

.date-time a {
    color: #030200;
    font-size: 12px;
    text-decoration: none;
    font-family: "Arial";
}

.date-time {
    color: #030200;
    font-size: 12px;
    text-decoration: none;
    font-family: "Arial";
}


.blog-link {
    text-align: center;
}

.view-post-cta {
    font-weight: 400;
    font-family: "Oswald";
    font-size: 16px;
    color: #030200;
}

.news-wrap .news-posts {
    width: 100%;
}

@media (min-width:60em) {
    .news-text {
        min-height: 144px;
    }
}

@media (min-width: 56.25em) {

    .news-wrap .news-posts {
        width: 31.7615656014%;
        border-right: 1px solid #c0c0c0;
        padding-right: 30px;
    }

    .news-wrap .news-posts:last-child {
        border: none;
    }

}

@media (min-width: 80em) {

    .news-posts {
        padding-right: 62px !important;
        padding-left: 15px;
    }



}

/*** news section end ***/


/** injection molders module **/

.injection-molders-module {
    background-image: url(https://www.americanindust.com/wp-content/themes/american-industrial-default/img/partnership-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    margin-bottom: 12px;
}

.im-wrap {
    text-align: center;
}

.im-wrap p {
    font-size: 26px;
    font-weight: 400;
    font-family: "Oswald";
    color: #ffffff;
    text-align: left;
    line-height: 30px;
}

.im-wrap .im-cta {
    font-size: 13px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 100;
    border: 1px solid #ffffff;
    font-family: "Oswald";
    padding: 10px 8px;
}

.im-wrap .im-cta:hover {
    background-color: #ffffff;
    color: #030200;
}


@media (min-width: 60em) {

    .im-wrap .im-cta {
        font-size: 18px;
        padding: 10px 18px;
    }

    .im-wrap .im-left {
        width: 48.7%;
    }

    .im-wrap>* {
        display: inline-block;
        vertical-align: middle;
    }


}


@media (min-width: 80em) {

    .im-wrap .im-left {
        padding-right: 15px;
    }

}

/** injection molders module end **/




/**GDD 003 Resource page VarB end***/




/*---------------------GDD 004 b css start -----------------*/


.gdd-004-b-featured-ebooks {
    background-color: #fff5e4;
    text-align: center;
}

.gdd-004-b-featured-ebooks .gdd004-library-btn a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    font-family: "Oswald";
    background-color: #ffbd34;
    font-weight: 400;
    padding-top: 6px;
    padding-bottom: 7px;
    padding-left: 31px;
    padding-right: 31px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}

.gdd-004-b-featured-ebooks .gdd004-library-btn a:hover {
    background-color: #e5a31f;
}

.gdd-004-b-featured-ebooks .gdd004-contact-btn a {
    font-size: 18px;
    color: #3e3e3e;
    text-decoration: none;
    font-family: "Oswald";
    background-color: transparent;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid #3e3e3e;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 31px;
    padding-right: 31px;
    display: block;
    margin-bottom: 10px;
}

.gdd-004-b-featured-ebooks .gdd004-contact-btn a:hover {
    background-color: #ffbd34;
    border: 1px solid #ffbd34;
}

@media (min-width:26.25em) {

    .gdd-004-b-featured-ebooks .gdd004-library-btn a {
        display: inline-block;
        margin-bottom: 0;
    }

    .gdd-004-b-featured-ebooks .gdd004-contact-btn a {
        display: inline-block;
        margin-bottom: 0;
        margin-left: 15px;
    }


}


.fe-content {
    position: relative;
    padding-top: 10px;
    padding-bottom: 130px;

}

.fe-content:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    background-image: url(https://www.americanindust.com/wp-content/themes/american-industrial-default/img/gdd004-resources.png);
    background-position: bottom center;
    background-size: 100px 117px;
    background-repeat: no-repeat;
    width: 100px;
    height: 117px;
    text-align: center;
    transform: translateX(-50%);
}

.fec-heading {
    font-family: "Oswald";
    color: #3e3e3e;
    font-size: 36px;
    font-weight: 100;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 22px;
}

.fec-text {
    color: #3e3e3e;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 23px;
}



@media only screen and (min-width:640px) {
    .gdd-004-b-featured-ebooks {
        text-align: left;
        overflow: hidden;
    }

    .fe-content {
        width: 73%;
        text-align: left;
        padding-bottom: 31px;

    }


    .fe-content::after {
        right: -177px;
        left: auto;
        bottom: auto;
        background-position: right center;
        background-size: 170px 181px;
        width: 170px;
        height: 180px;
        transform: none;
        top: 0;

    }

}

@media (min-width:80em) {
    .fe-content::after {
        right: -502px !important;
    }
}

@media only screen and (min-width:960px) {

    .fe-content {
        width: 51.7%;
        padding-bottom: 70px;
        padding-top: 59px;
        padding-left: 54px;
    }

    .fe-content::after {
        right: -430px;
        background-position: center center;
        background-size: 388px 555px;
        width: 388px;
        height: 555px;
        top: -74px;
    }

    .fec-heading {
        padding-right: 9px;
    }


}

.infographics {
    @include mq(medium) {
        .infographics-wrap {
            display: flex;
            align-items: baseline;
        }

        .infographics-title {
            padding-right: em(20);
        }
    }
}

/*---------------------GDD 004 b css end -----------------*/


/* gdd 005 b css start */
.gdd-005-b {
    &.gdd-001-b-site-header {
        transition: all 0.5s ease-in-out;
        position: relative;

        .sh-sticky-wrap {
            position: relative;
            /*transition: all 0.5s ease-in-out;*/

            
        }

        .inner-wrap {
            padding-top: em(26);
            padding-bottom: em(25);
        }

        .logo {
            width: 14.5em;
            margin-top: -0.5625em;
        }

        .rfq.gdd-005-b-cta {
            padding: em(15, 16) em(8, 16);
            font-size: em(16);
            width: auto;
            float: right;
            margin-left: 1.8125em;

            @include mq(large) {
                padding: em(15, 16) em(5, 16);
                margin-left: em(13, 16);
            }
        }

        .sh-ico-search {
            margin-left: em(8);
            margin-top: em(4);
            text-decoration: none;
        }

        .sh-ico-menu {
            margin-top: em(5);
            text-decoration: none;
            margin-left: 0;
            width: 3em;
        }

        .snc-footer {
            height: 100%;
            background-color: black;
        }

        .site-nav-container-screen {
            position: fixed;
        }

        @include mq(large) {
            .logo {
                width: 28%;
            }

            .sticky-menu {
                display: none;
            }

            .utility-nav {
                display: block;
				width: auto;
				margin-right: 0;
				float: none;
				text-align: right;
				padding-top: .125em;
				margin-bottom: 1.0625em;
            }

            .sh-sticky-wrap {
                &.stuck {
                    position: fixed;
                top: 0;
                width: 100%;
                background-color: #090501;
                z-index: 99999;
                    .sticky-menu {
                        display: block;
                    }

                    .utility-nav,
                    .sh-ico-search {
                        display: none;
                    }

                }
            }

            .sn-li-l1 {
                &.menu-item-has-children {
                    .m-subnav-arrow {
                        display: none;
                    }
                }

                >a {
                    padding: 0 em(6, 18);

                    span {
                        font-size: em(12);
                    }
                }
            }

            .sh-ico-search {
                margin-right: em(5);
            }

            .site-nav {
                margin-right: em(8);
            }
        }

       
        @include mq(large) {
            /*height:12.438em;*/

            .sh-sticky-wrap {
                /*height: em(151);*/

                &.stuck {
                    height: em(166);

                    .logo {
                        width: 17%;
                        margin-right: em(5);
                        margin-top:0;
                    }

                    .site-nav {
                        margin-right: em(7);
                    }

                    .sn-li-l1 {
                        >a {
                            padding: 0 em(5, 18);

                            span {
                                font-size: em(13, 18);
                            }
                        }
                    }

                    .sh-ico-search {
                        margin-right: em(10);
                        margin-left: 0;
                        margin-top: em(15);
                    }

                    .rfq {
                        width: em(136);
                        font-size: em(12);
                        margin-top: em(12,12);
                    }
                    .top-badge {
                        margin: em(25) 0 0 em(6);
                        a{
                            img{
                                max-width: 70px;
                            }
                        }
                    }
                }
            }

            .logo {
                width: 23%;
                margin-right: 1%;
            }

            .utility-nav {
                //display: none;
            }

            .site-nav-container {
                float: right;
                width: auto;
                @include display(flex);
                flex-direction: row;
                align-items: center;
            }

            .site-nav {
                width: auto;
                margin-right: em(15);
                background-color: transparent;
            }

            .sn-li-l1 {
                width: auto !important;
                padding: 0 !important;

                &:hover {
                    background-color: transparent !important;
                }

                >a {
                    padding: 0 em(10, 18);

                    span {
                        font-size: em(14, 18);
                        text-transform: none;
                    }
                }
            }

            .rfq {
                width: auto;
                padding: em(10, 18) em(10, 18);
                line-height: em(18,18);
                height: em(38,18);
            }

            .sh-ico-search {
                margin-right: em(11);
            }

        }

        @include mq(xmedium) {
            height:em(150);

            .sh-sticky-wrap {
                height:12.438em;

                &.stuck {
                	height: em(110);
                    .sn-li-l1 {
                        >a {

                            span {
                                font-size: em(14, 18);
                                text-transform: uppercase;
                            }
                        }

                    }

                    .rfq {
                        font-size: em(18);
                        width: auto;
                    }

                    .top-badge {
                        margin: em(25) 0 0 em(6);
                        a{
                        	img{
                        		max-width: 65px;
                        	}
                        }
                    }

                    
                }

            }

            .logo {
                width: 28%;
                margin-right: 1%;
            }

            .site-nav-container {
                //width: 82%;
            }

            .site-nav {
                margin-right: em(10);
            }

            .sn-li-l1 {
                >a {
                    padding: 0 em(7, 18);

                    span {
                        font-size: em(15, 18);
                    }
                }
            }

            .sh-ico-search {
                margin-right: em(8);
            }

            .rfq {
                width: auto;
                padding: em(10, 18);
                font-size: em(18);
            }
        }

        @include mq(xxlarge) {
            .sn-li-l1 {
                >a {
                    padding: 0 0.5em;

                    span {
                        font-size: em(18, 18);
                    }
                }
            }

            .rfq {
                //padding: em(18, 18) em(24, 18) em(15, 18) em(24, 18);
                font-size: em(18);
            }
        }
    }
}

/* ==== GDD 006 css start ==== */

.gdd-006-b {
    text-align: center;
}

/* ==== GDD 006 css end ==== */

.btn-sidebar {
    background-image: url(//www.americanindust.com/assets/background.jpg) !important;
    display: block !important;
    background-position: right center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: relative !important;
    margin-bottom: 22px !important;
    min-height: 120px !important;
    text-align: left !important;

    @include mq(large) {
        &:hover {
            background-image: url(http://www.americanindust.com/assets/background-hover.jpg) !important;

            &:before {
                background-image: url(http://www.americanindust.com/assets/arrow-yellow.png) !important;
            }
        }
    }


}

.btn-sidebar:before {
    position: absolute !important;
    top: -0.3125em !important;
    left: em(-44) !important;
    width: 5.75em !important;
    height: 7.625em !important;
    background-size: 39px 34px !important;
    content: '';
    background-image: url(http://www.americanindust.com/assets/arrow.png) !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;

    @include mq(large) {
        background-size: 39px 34px !important;
    }
}

.para {
    position: absolute !important;
    color: #fff !important;
    width: 75% !important;
    padding: 5px 0 0 15px !important;
    line-height: 18px !important;
    font-size: 16px !important;
    top: 10px !important;
    font-weight: 100 !important;
}

.main-para {
    font-size: 20px !important;
    font-weight: 700 !important;
}

.page-id-962 {
    .site-content-secondary {
        width: 100%;

        @include mq(medium) {
            width: 75%;
        }

        @include mq(large) {
            width: 27.49%;
        }
    }
}



.top-badge {
    text-align: center;
    @include mq(large) {
        float: right;
        margin: em(22);
    }
    @include mq(large) {
        margin: em(16); 
    }        
    a {
        text-decoration: none;
        vertical-align: middle;
        img {
             @include mq(medium) {
               width: 100px;
               height: auto;
            }
            @include mq(large) {
               width: 93px;
               height: auto;
            }
        }
    }
}

figure.col-3.thumb-img>* {
    width: auto;
}

h3.blog-title {
    margin-top: 0;
}

@media (min-width: 640px) and (max-width: 770px) {

    .sh-ico-search {
        margin-top: em(20);
    }

    .rfq {
        padding: em(15) em(10);
    }
}




/* gdd 007 b css start */
.si-video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.55);
    }

    video {
        object-fit: fill;
        width: 100%;
    }
}

/* gdd 007 b css end */

.hi-wrap{
    background-color: #000;
text-align: center;
> a {
    font-size: em(14);
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    padding: 0 em(10,14);
    width: 100%;
    &:hover{
        color:#ffbd34;
        text-decoration: underline;
    }
}
.btn{
   margin-bottom: em(10); 
}
}
.hiw-left {
    display: inline-block;
    vertical-align: middle;
    margin: 0 em(20);
}


.choose-metal-craft-module{
    .inner-wrap{
        padding-top:0;
        padding-bottom:0;  
    }
}

.cmcm-header{
  text-align: center;
  font-weight: bold;
  font-family: $header-font-family;
  color: $blacktrans;
  margin-bottom: em(40,35);
  >span{
    color: $black;

  }
}
.cmcm-text{
  text-align: center;
  font-size: em(20);
  line-height: em(30,20);
  color: $black;
}




/*cmcm-bucket-wrap*/
.cmcm-bucket-wrap{
  /*border-radius: 35px;*/
  overflow: hidden;
  margin-bottom: em(51)!important;
  @include mq(medium){
   @include display (flex);
   flex-wrap: wrap;
   >div{
    @include flex-grow (1);
   }
  }
}
.cmcm-item{
  max-width: em(278);
  width: 100%;
  margin: 0 auto em(4);
  >a{
    display: block;
    width: 100%;
    position: relative;
    color: $white;
    background-color:$black;
    overflow: hidden;
  }
  @include mq(medium){
    max-width: 33%;
    width: 50%;
    margin-left: unset;
  }
  @include mq(large){
    width: 26%;
    margin: 0 2px 4px;
    >a{
      &:hover{
        .cmcmi-image{
          transform:scale(1.1);
          opacity: 1;
        }
        .cmcmi-title{
          opacity: 0;
        }
      }
    }
  }
}
.cmcmi-title{
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-size: em(23);
  line-height: em(30,23);
  font-family: $header-font-family;
  font-weight: 600;
}
.cmcmi-image{
  display: block;
  width: 100%;
  opacity: 0.42;
  @include transition (all ease-in-out 0.2s);
  img{
    display: block;
    width: 100%;
  }
}


/* gdd 008 b css start */
.bottom-cta {
    
    background-color: #ffbc47;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    > .inner-wrap{
        position: relative;
    }
    h3{
        font-weight: 700;
text-transform: uppercase;
font-size: em(13);
color: #000;
line-height: em(16,13);
margin: em(10,13) em(10,13) em(15,13) em(10,13) !important;

    }
    @include mq(medium){
      > .inner-wrap{
        padding-top: em(7);
        padding-bottom: em(7);
      } 
      h3{
        font-size: em(16);
        line-height: em(23,16);
        display: inline-block;
        vertical-align: middle;
        margin: 0 em(20,16) 0 !important;
      }
    }
}
.cta-close {

    color: #000;
    position: absolute;
    right: em(10);
    text-decoration: none;
    top: em(10);
    cursor: pointer;
    &:hover{
      color:#282828;
    }
    &:active,&:focus{
      color: #000;
    }
    @include mq(medium){
      position: relative;
      font-size: em(20);
      margin-left: em(23,20);
      font-weight: 400;
      display: inline-block;
      vertical-align: middle;
      top: auto;
      right: auto;
    }
    @include mq(large){
      margin-left: em(58,20);
    }
}
.si-btn {
    background-color: #000;
    color: #ffbd34;
    text-transform: uppercase;
    font-size: em(13);
    padding: em(10,13) em(14,13);
    text-decoration: none;
    &:hover{
        color:white;
        background-color: #282828;
    }
    &:active,&:focus{
        color: white;
    }
    @include mq(medium){
        font-size: em(16);
    padding: em(12,16) em(16,16);
      display: inline-block;
      vertical-align: middle;
    }
    @include mq(large){
      padding:em(12) em(25);
    }
}
/* gdd 008 b css end */

/* gdd 009 b css start */
.feature-contact-form {
  background-color: #ebebeb;
  position: relative;
  @include transition(all 0.5s ease-in-out);
  transform: scale(1);
  &.form-active{
    box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    z-index: 9999;
    opacity: 1 !important;
    text-shadow: none;

  }
  .hs-form{
    h2{
      text-transform: uppercase;
text-align: center;
font-size: em(16);
line-height: em(18);
margin-bottom: em(20);
margin-top: 0;
    }
    fieldset{
     background: transparent;
      max-width: 100%; 
      &.form-columns-3,&.form-columns-1{
        .hs-form-field{
          float: none !important;
          width: 100% !important;
        }
        .input{
          margin-right: 0;
        }
        .hs-input{
          width: 100% !important;
color: #323232;
font-weight: 300;
font-size: em(16);
border: 1px solid #d1d1d1;
border-radius: 0;
height: em(38);
margin-bottom: em(22);
&:focus{
  box-shadow: -2px 10px 8px -2px #ccc;
}
        }
      }
      label{
        text-transform: uppercase;
font-weight: 300;
font-size: em(16);
font-family: "Oswald", sans-serif;
      }
    }
    #please_upload_any_related_files_-1a616f24-8f3d-485b-9409-86a7b0101905{
      border:none;
    }
    .hs_submit.hs-submit {
    display: block;
    text-align: center;
    .actions{
      display: inline-block;
vertical-align: top;
margin: 0 auto;
position: relative;
padding: 0 em(60);
&:before {
    content: "";
    position: absolute;
    background-image: url(img/left-submit-arrow.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: em(40) em(30);
    left: 0;
    top: em(3);
    width: em(40);
    height: em(30);
}
&:after {
    content: "";
    position: absolute;
    background-image: url(img/right-submit-arrow.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: em(40) em(30);
    right: 0;
    top: em(3);
    width: em(40);
    height: em(30);
}
    }
}
.hs-button {
    color: #000;
    text-transform: uppercase;
    padding: em(11) em(36);
    border-radius: 0;
    border: none;
    outline: none;
    font-family: "Oswald",sans-serif;
    &:hover{
        background-color:#d7b42b;
    }
}
  }
  @include mq(large){
    .hs-form{
      h2{
        font-size: em(22);
      }
      fieldset{
        &.form-columns-3{
          .hs-form-field{
            float: left !important;
            width: 32% !important;
            margin-right: 2%;
            &:last-child{
              margin-right:0;
            }
          }
        }
      }
    }
  }
}
body{
  position: relative;
  &:after{
    content:"";
    position: absolute;
    background-color: rgba(105,105,105,.8);
    @include transition(all 0.5s ease-in-out);
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
  }
  &.blur{
    &:after{
     opacity: 1;
pointer-events: all; 
z-index: 999;
    }
  }
}

/* gdd 009 b css end */
/* gdd 010 b css start */
.scs-form {
    background-color: #cdcdcd;
    padding: em(30) em(20);
    textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple="multiple"]{
      border: none;
      padding: em(10) em(50) em(10) em(20);
width: 100%;
height: em(45);
    }
    .hs-button {
    display: block;
    width: 100%;
    color: #000;
}
@include mq(large){
  padding: em(30) em(35);
}
}
.scs-form-title {
    font-size: em(24);
    margin-top: 0;
    margin-bottom: em(30,24);
    font-weight: 500;
}
.input-has-value {
    position: relative;
    &:after {
    content: "";
    position: absolute;
    background-image: url(img/tick.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: em(31) em(31);
    right: em(10);
    top: em(7);
    width: em(31);
    height: em(31);
}
}
/* gdd 010 b css end */


/** gdd-011 **/

.gdd-industries-served-module {
    background-color: rgba(0,0,0,0.6);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
  

   .inner-wrap{

    @include mq(large){
        padding-top: 4.2em;
        padding-bottom: 4.2em;
    }

   }

    .tab-content{
        display: none;
    }

    .gis-header{
        font-size: 33px;
        font-family: $header-font-family;
        font-weight: 400;
        color: #ffffff;
        text-align: center;

         @include mq(large){
            margin-bottom: 1.5em;
            margin-top: 0;
         }
    }

    .tab-link{
        text-decoration: none;

        &.is-active{
            .gis-content{
               background:rgba(255,189,53,0.7);
            }
        }

        @include mq(large){
            width: 174px;
            display: inline-block;
            float: left;
            margin-right: 8px;
        }

        @include mq(xlarge){
            width: 217px;
            margin-right: 28px;
        }
    }

    .gis-content{
         font-size: 17px;
         display: block;
        font-family: $header-font-family;
        font-weight: 500;
        color: #ffffff;
        text-transform: uppercase;
        padding: 15px 15px;
        background:rgba(255,255,255,0.1);
            margin-bottom: 1em;
            border:1px solid #ffffff;

            @include mq(large){
                font-size: 14px;
                text-align: center;
            }

             @include mq(xlarge){
                font-size: 17px;
            }
    }

    .gis-title{
         font-size: 24px;
        font-family: $header-font-family;
        font-weight: 500;
        color: #ffffff;
        text-transform: uppercase;

         @include mq(large){
            margin-top: 87px;
         }
    }

    .gis-text{
         font-size: 18px;
        font-family: $header-font-family;
        font-weight: 500;
        color: #ffffff;
    }

    .gis-cta{
          font-size: 17px;
        font-family: $header-font-family;
        font-weight: 400;
        background-color: #ffbd35;
        color: #000;
        text-transform: uppercase;
        padding: 14px 54px;
        margin-bottom: 1em;

        &:hover{
            background-color: #e5a31f;
        }
    }

    .accordion-tabs-wrap{

        @include mq(large){
            position: relative;
        }

    }

    .accordion-tabs{

        @include mq(large){
            width: 40%;
            clear: both;
        }

        @include mq(xlarge){
            width: 45%;
        }

    }

    .tab-content{

        @include mq(large){
                position: absolute;
                right: 0;
                width: 60%;
                top: 0;
        }

        @include mq(xlarge){
            width: 55%;
        }

    }
}


/** gdd-011 end **/

/** Infographics style start **/
.infographics-module{
    background-color: #faf2e4;
    .inner-wrap-fullwidth{
        padding-top: em(95);
        padding-bottom: em(60);
    }
}
.imc-wrap{
    @include mq(large){
        display:flex;
        >div{
            width: 46%;
            float: left;
            margin-left: 4%;
            &:first-child{
                margin-left:0;
            }
        }
    }
}
.imc-number{
    font-size: em(80);
    line-height: 1em;
    color: rgba($black,0.05);
    position: absolute;
    display: block;
    left: 2.5%;
    top: 0;
    font-family: $header-font-family;
    font-weight: 500;
    @include mq(large){
        font-size: em(323);
        left: 5.5%;
        top: -39px;
    }
}
#im-content-1{
    @include mq(large){
    .imc-number{
    left: em(126,323);
    top: em(-36,323);
}
}
}
.im-content-wrap{
    @include mq(large){
        font-size: 1.25vw;
        max-width: em(1400);
        width: 100%;
        margin: 0 auto;
    }
    @include mq(xlarge){
        font-size: em(16);
    }
}
.im-content{
    padding-bottom: em(50);
    padding-left: em(60);
    padding-right: em(25);
    opacity: 0;
    display: none;
    position: relative;
    &.active{
        opacity: 1;
    }
    @include mq(medium){
        padding-left: em(100);
        padding-right: em(100);
    }
    @include mq(large){
        padding: 0;
        padding-left: em(264);
        padding-right: em(124);
        >*{
            opacity: 0;
        }
        &.active{
            >*{
                animation: active 1s forwards;
            }
        }
    }
}
.im-svg-wrap{
    max-width: em(1200);
    width: 100%;
    margin: 0 auto;
    position: relative;
    font-size: 1.25vw;
    @include mq(large){
        
    }
    @include mq(xlarge){
        font-size: em(16);
    }
}
.imc-header{
    margin: 0;
    color: $black;
    font-size: em(32);
}
.imsvg-dot{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.imsvgd-dot{
    width: em(25);
    height: em(25);
    background-color: #feac02;
    border-radius: 100px;
    display: block;
    position: absolute;
    box-shadow: 0 0 0 13px #FFBD33;
    >span{
        display: none;
    }
}
.imsvgd-dot1{
    top: em(184);
    left: em(270);
}
.imsvgd-dot2{
    top: em(20);
    left: em(601);
}
.imsvgd-dot3{
    top: em(140);
    right: em(371);
}
.imsvgd-dot4{
    top: em(383);
    left: em(496);
}
.imsvgd-dot5{
    top: em(415);
    right: em(226);
}
.yellow {
    background: rgba(254, 171, 3, 1);
    box-shadow: 0 0 0 0 rgba(254, 171, 3, 1);
    animation: pulse-yellow 2s infinite;
}

@keyframes pulse-yellow {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(254, 171, 3, 0.7);
    }
    
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(254, 171, 3, 0);
    }
    
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(254, 171, 3, 0);
    }
}

@keyframes active {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

/* gdd 012 b css start 
.side-cta {
    background-color: #fef5e4;
    text-align: center;
    position: fixed;
    bottom: 3em;
    left: auto;
    width: 30em;
    z-index: 999;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    right: -1px;
    height: 300px;
    box-shadow: 2px 4px 10px #4a4a4a;
    border: 1px solid #d1d1d1;
    background-image: url(http://www.americanindust.com/assets/AdobeStock_322086592-Converted-3.png);
    background-size: cover;
    background-repeat: no-repeat;
    > .inner-wrap{
        position: relative;
    }
    @include mq(small){
        width: 100%;
        right:0;
    }
    h3{
        font-weight: 500;
text-transform: uppercase;
font-size: 2em;
color: #000;
line-height: em(16,13);
margin: em(10,13) em(10,13) em(15,13) em(10,13) !important;

    }
    @include mq(medium){
      > .inner-wrap{
            padding-top: 4em;
            padding-bottom: 4em;
      } 
      h3{
        font-size: 2em;
        line-height: em(23,16);
        display: inline-block;
        vertical-align: middle;
        margin: 0 em(20,16) em(16,16) !important;
      }
    }

    .si-btn {
        background-color: #ffbd34;
        color: #fff;
        font-weight: 300;
        &:hover {
            background-color: #282828 !important;
        }
    }
}
 
.cta-close1 {

    color: #000;
    position: absolute;
    text-decoration: none;
    top: 0.5em;
    right: 1em;
    cursor: pointer;
    &:hover{
      color:#282828;
    }
    &:active,&:focus{
      color: #000;
    }
    @include mq(medium){
      font-size: em(20);
      font-weight: 400;
    }
    @include mq(large){
    }
}*/
@include mq(small) {
    .flex-direction-nav a {
        top: 40% !important;
    }
    .parent-pageid-956 iframe {
        width: 100%;
    }
} 


@media screen and (min-width: 480px) and (max-width: 700px) {
.gdd-001-b-site-header .stuck .sn-li-l1>a {
    font-size: 0.88em !important;
    padding: 0 0.3em !important;
}
    .stuck .rfq {
    font-size: 0.8em;
    line-height: normal;
    margin-top: 5px;
    }
    .stuck .top-badge {
     margin: 0.2em;
}
}
@media screen and (min-width: 701px) and (max-width: 800px) {
.gdd-001-b-site-header .stuck .sn-li-l1>a {
    font-size: 0.88em !important;
    padding: 0 0.3em !important;
}
    .stuck .rfq {
    font-size: 0.8em;
    line-height: normal;
    margin-top: 5px;
    }
    .stuck .top-badge {
     margin: 0.2em;
}
}
@media screen and (min-width: 801px) and (max-width: 1200px) {
.gdd-001-b-site-header .stuck .sn-li-l1>a {
    font-size: 1.1em !important;
    padding: 0 0.3em !important;
}
    .stuck .rfq {
    font-size: 0.8em;
    line-height: normal;
    margin-top: 5px;
    }
    .stuck .top-badge {
     margin: 0.2em;
}
}

.accordion_head {
  background-color: #000;
  color: white;
  cursor: pointer;
  margin: 10px 0 0;
  padding: 11px;
  border: 1px solid gray;   
  text-transform: uppercase;
  font-family: "Oswald",sans-serif;
  @include mq(small) {
    font-weight: 100;
    font-size: 15px;
  }
}
span.plusminus {
    border: 1px solid;
    border-radius: 15px;
    width: 25px;
    text-align: center;
}
.accordion_body {
  border: 1px solid gray;
    padding: 20px;
}
.accordion_body p {
  padding: 18px 5px;
  margin: 0px;
}
.plusminus {
  float: right;
}

.side-cta, .fb-popup {
  background-color: #fef5e4;
  text-align: center;
  position: fixed;
  bottom: 3em;
  left: auto;
  top: auto;
  width: 20em;
  z-index: 999;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  right: -1px;
  height: 275px;
  box-shadow: 2px 4px 10px #4a4a4a;
  border: 1px solid #d1d1d1;
  background-image: url(http://www.americanindust.com/assets/AdobeStock_322086592-Converted-3.png);
  background-size: cover;
  background-repeat: no-repeat; }
  .side-cta > .inner-wrap {
    position: relative; }
    .fb-popup > .inner-wrap {
    position: relative; }

  @media (max-width: 40em) {
    .side-cta, .fb-popup {
      width: 100%;
      right: 0; top: 0;} }
  .side-cta h3, .fb-popup h3 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2em;
    color: #000;
    line-height: 1.2307692308em;
    margin: 0.7692307692em 0.7692307692em 1.1538461538em 0.7692307692em !important; }
  @media (min-width: 40em) {
    .side-cta > .inner-wrap, .fb-popup > .inner-wrap{
      padding-top: 2em;
      padding-bottom: 2em; }
    .side-cta h3 , .fb-popup h3 {
      font-size: 2em;
      line-height: 1.4375em;
      display: inline-block;
      vertical-align: middle;
      margin: 0 1.25em 1em !important; } }
  .side-cta .si-btn, .fb-popup .si-btn {
    background-color: #ffbd34;
    color: #fff;
    font-weight: 300; }
    .side-cta .si-btn:hover, .fb-popup .si-btn:hover {
      background-color: #282828 !important; }
.mfp-content{
    transform: initial !important;
}
.cta-close1 {
  color: #000;
  position: absolute;
  text-decoration: none;
  top: 0.5em;
  right: 1em;
  cursor: pointer; }
  .cta-close1:hover {
    color: #282828; }
  .cta-close1:active, .cta-close1:focus {
    color: #000; }
  @media (min-width: 40em) {
    .cta-close1 {
      font-size: 1.25em;
      font-weight: 400; } }

.page-id-1556{
    .site-content-secondary{
        img{
       width: 100%; 
   }
    }
}
#delayed-popup .mfp-close{
  color: #000;
  font-size: 40px;
  font-weight: 400;
}
.infographic-container{
  text-align: center;
  p{
    margin: 0;
    padding: 4px;
  }
  @include mq(medium){
    float: right;
    margin:0 0 10px 10px;
  }
  img{
    z-index: 2;
    position: relative;
  }
}

.lightbox-infographic{
    display: inline-block;
    vertical-align: top;
}



.mfp-zoom-out-cur, .mfp-helper{
  .sh-sticky-wrap.stuck{
    width: calc(100% - 17px) !important;
  }
}


.ia-image {
    max-width: 29.1875em;
    width: 100%;
    position: relative;
    margin: 0 auto;
}




.ia-wrap{
  padding-bottom: em(40);
  @include mq(large){
    padding-bottom: em(8);
    @include display (flex);
    >div{
   @include flex-grow(1);
   width: 40%;
   min-height: em(370);
   &.ia-text-wrap{
    width: 46%;
   }
   }
   &:nth-of-type(2n){
    flex-direction: row-reverse;
   }
  }
}
.ia-image-wrap{
 position: relative;

}
.ia-image{
 //background-color: #d5dde3;
 max-width: em(467);
 width: 100%;
 position: relative;
 margin: 0 auto;
 img{
  display: block;
  width: 100%;
  max-height: em(327);
 }
 @include mq(large){
  margin: 0;
 }
}

.ia-heading{
  font-size: em(24);
  color:#3E3E3E;
  font-weight: 400;
  margin-bottom: em(20,24);
}
.ia-text{
  color: #3E3E3E;
  font-size: em(16);
  line-height: em(28);
}

.ia-text-wrap{
    position: relative;
    padding-top: em(100);
  @include mq(large){
  padding-left: em(23);
  padding-top: em(100);
  padding-right: em(25);

  }
  
}

.ia-count{
  position: absolute;
  width: em(80,50);
  height: em(80,50);
  display: block;
  border-radius: 100%;
  font-size: em(50);
  line-height: 1em;
  font-family: $header-font-family;
  font-weight: bold;
  color: #3E3E3E;
  z-index: 1;
 
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  background-color: white;
  &::before{
    content:'';
    background-color: transparent;
    position: absolute;
    left: 50%;
    border-radius: 100%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height:100%;
    border: 10px solid #FFBD34;
    z-index: -1;
  }
  &:after{
    content:'';
     border:2px solid #000000;
     position: absolute;
     left: 50%;
     top: 50%;
    transform: translate(-50%,-50%);
     width: 100%;
     height: 100%;
     border-radius: 100%;
  }
}

.ia-wrap1{
.ia-text-wrap{
    @include mq(large){
    margin-right: 5%;
    }
}
  .ia-count{
    right: 0;
  }
}
.ia-wrap2{
    .ia-text-wrap{
    @include mq(large){
    margin-left: 5%;
    }
}
  .ia-count{
    left: 0;
  }
}
.ia-wrap3{
    .ia-text-wrap{
    @include mq(large){
    margin-right: 5%;
    }
}
  .ia-count{
    right: 0;
  }
}
.ia-wrap4{
    .ia-text-wrap{
    @include mq(large){
    margin-left: 5%;
    }
}
}
.ia-wrap5{
    .ia-text-wrap{
    @include mq(large){
    margin-right: 5%;
    }
}
  .ia-count{
    right: 0;
  }
}

.popup-mp4 { 
  display: inline-block; 
  position: relative; 
  margin-bottom:30px; 
    img {
      max-width: 100%; 
      height: auto; 
      display: block; 
    }
    &:before { 
      content: ''; 
      position: absolute; 
      left: 0; 
      right: 0; 
      margin:0 auto; 
      top: 40%; 
      transform: translateY(-50%); 
      width: 57px;
      height: 40px; 
      -moz-transition: all .25s cubic-bezier(0.0,0.0,0.2,1); 
      -webkit-transition: all .25s cubic-bezier(0.0,0.0,0.2,1); 
      transition: all .25s cubic-bezier(0.0,0.0,0.2,1); 
      z-index: 2; 
      cursor: pointer; 
      background: url(img/youtube-white.png) center/68px no-repeat; 
      background-size: 1.5em 1.5em;
      opacity: 0.8;
    } 
    &:after{
         content: "";
     position: absolute; 
      left: 0; 
      right: 0; 
      margin:0 auto; 
      top: 40%; 
      transform: translateY(-50%); 
      width: 100px;
      height: 63px; 
      -moz-transition: all .25s cubic-bezier(0.0,0.0,0.2,1); 
      -webkit-transition: all .25s cubic-bezier(0.0,0.0,0.2,1); 
      transition: all .25s cubic-bezier(0.0,0.0,0.2,1); 
      z-index: 1; 
      cursor: pointer;
      background: #000000;
      background-size: 3.5em 2.5em;
      opacity: 0.7;
    border-radius: 5px;

    };
    &:hover { 
      &:before { 
        opacity: 10;
      }
    } 
}

.page-id-1530 .popup-mp4 { 
  display: inline-block; 
  position: relative; 
  margin-bottom:30px; 
    img {
      max-width: 100%; 
      height: auto; 
      display: block; 
    }
    &:before { 
      content: ''; 
      position: absolute; 
      left: 0; 
      right: 0; 
      margin:0 auto; 
      top: 50%; 
      transform: translateY(-50%); 
      width: 57px;
      height: 40px; 
      -moz-transition: all .25s cubic-bezier(0.0,0.0,0.2,1); 
      -webkit-transition: all .25s cubic-bezier(0.0,0.0,0.2,1); 
      transition: all .25s cubic-bezier(0.0,0.0,0.2,1); 
      z-index: 1; 
      cursor: pointer; 
      background: url(img/ico-play.svg) center/68px no-repeat; 
      background-size: 3.5em 2.5em;
      opacity: 0.8;
    } 
    &:after{
        display: none;
    }
    &:hover { 
      &:before { 
        opacity: 10;
      }
    } 
}

.page-id-5 .hi-wrap{
    display: none;
}