//Site Nav
.site-nav {
	background-color:$nav-background-mobile;
	width:100%;
	display:block;
	a {
		font-family:$nav-font-family;
		font-weight:$nav-font-weight;
		text-transform: $nav-text-transform;
		
	}
	
	&.active {
		//display:block;
	}
	@include mq(medium) {
		float:left;
		display:block;
		position:relative;
		top:0;
		left:0;
		background-color:$nav-background;
		a{
			text-align:$nav-text-align;
		}
		span {
		white-space: nowrap;
	}
	}
}
.sn-level-1 {
	margin:0;
	padding:0;
	width:100%;
	display:block;
}
.sn-li-l1 {
	display:block;
	position: relative;

	border-bottom:$nav-border-mobile;
	a.active {
		background-color:$nav-active-background;
	}
	span {
		font-size:$nav-font-size;
	}
	&.has-subnav, &.menu-item-has-children {
		 .m-subnav-arrow {
            cursor: pointer;
            display: none;
            display: none;
            @include mq(small) {
                padding-right: 0em;
                background-image: url(img/ico-arrowdown.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: em(12);
                display: block;
                width: 40px; //height: $nav-height;
                position: absolute;
                background-color: darken($nav-background-mobile, 3%);
                right: 0;
                top: 0;
                bottom: 0;
                height: em(50,20);
                &.active {
                    transform: rotate(180deg);
                }
            }
        }
		> a {
			span {
				padding-right:0em;
				//background-image:url(img/ico-arrowdown.svg);
				background-repeat: no-repeat;
				background-position:right center;
				background-size:em(12);
				display:block;
			}
			&.active {
				span {
					//background-image:url(img/ico-arrowup.svg);
				}
			}
		}
	}
	> a {
		display:block;
		height:$nav-height;
		line-height:3.5em;
		color:$nav-text-color;
		text-decoration:none;
		padding:0 $nav-spacing-mobile;
		&:visited {
			color:$nav-text-color;
		}
		&:hover {
			color:$nav-text-color-hover;
		}
	}
	&:hover {
		background-color:$nav-hover; 
	}
	 &:last-child{
	 	background-color: #1b7ab2;
	 }
	@include mq(medium) {
		height:$nav-height;
		float:left;
		border-bottom:0;
		display:block;
		&:hover {
			.sn-level-2 {
				display:block;
			}
		}
		&.has-subnav, &.menu-item-has-children {
			> a {
				span {
					padding-right:1em;
					background-size:em(10);
					display:inline;
					background-image:url(img/ico-arrowdown.svg);
				}
				&.active {
					span {
						background-image:url(img/ico-arrowdown.svg);
					}
				}
			}
		}
		> a {
			padding:0 $nav-spacing-medium;
			font-size:.65em;

		}	
	}
	@include mq(large) {
		> a {
			padding:0 $nav-spacing-medium;
            font-size:.7em;

		}	
		&:nth-child(1) {
				width:17.6%;
				//text-align:left;
			}
			&:nth-child(2) {
				width:24.6%;
				//position:static !important;
			}
			&:nth-child(3) {
				width:15%;
			}
			&:nth-child(4) {
				width:14%;
			}
			&:nth-child(5) {
				width:16.5%;
				padding-right: em(54);
			}	
			&:nth-child(6) {
				width:10.6%;
			}
	}
	@include mq(xlarge) {
		> a {
			padding:0 $nav-spacing-medium;
			font-size:.8em;

		}	
	}
}
.sn-level-2 {
	padding:0;
	margin:0;
	display:none;
	position:relative;
	&.active {
		display:block;
	}
	@include mq(medium) {
		position:absolute;
		z-index:999;
		&.active {
			display:none;
		}
	}
}
.sn-li-l2 {
	background-color:$nav-subnav-background;
	 > a {
		//background-color:red;
		padding:0 $nav-spacing-mobile;
		color:$nav-text-color;
		border-top:$nav-subnav-border;
		display:block;
		text-decoration:none;
		line-height:$nav-subnav-height;
		text-align:$nav-subnav-text-align;
		span {
			font-size:$nav-subnav-font-size;
			line-height:1.25em;
			display:inline-block;
			vertical-align: middle;
		}
		
	}
	
	&:last-child {
		> a {
			border-bottom:0;
		}
	}
	&:hover {
		background-color:$nav-subnav-hover;
		
	}
	@include mq(medium) {
		&:hover {
			 
			.sn-level-3 {
				display:block;
			}
		}
		> a {
			padding:0 $nav-spacing-medium;
		}
	}
	@include mq(large) {
		> a {
			padding:0 $nav-spacing-large;

		}
	}
	@include mq(xlarge) {
		> a {
			padding:0 $nav-spacing-xlarge;
		}	
	}
}
.sn-level-3 {
	//background-color:green;
	padding:0;
	margin:0;
	padding-top:1px;
	
	display:none;
	position:relative;
	border-left:1px solid lighten($nav-hover,10%);
	&.active {
		display:block;
	}
	@include mq(medium) {
		position:absolute;
		top:$nav-height;
		left:100%;
		//width:22.5em;
		&.active {
			display:none;
		}
	}
}
.sn-li-l3 {
	@extend .sn-li-l2;
}



// Site Nav Container


.site-nav-container {
	background-color:$nav-background;
	width:17em;
	height:100%;
	//left:-20em;
	right:-17em;
	top:0;
	bottom:0;
	z-index:1000;
	position:absolute;
	.sh-ico-search {
		display:none;
	}
	@include transition(all .25s ease-in-out);
	&.active {
		right:0;
	}
	@include mq(large) {
		width:100%;
		height:auto;
		right:auto;
		bottom: auto;
		top:auto;
		position:static;
		background-color:transparent;
		float:right;
		.sh-ico-search {
			display:inline-block;
		}

	}
}
.site-nav-container-screen {
	position:absolute;
	display:none;
	z-index:999;
	left:0;
	right:0;
	bottom:0;
	top:0;
	background-color:rgba(0,0,0,.5);
	
	&.active {
		display:block;
	}
	
	@include mq(medium) {
		display:none !important;
		
	}
}


.close-menu {
	display:inline-block;
	clear:both;
	//width:5em;
	position:relative;
	text-align:center;
	color:$dark-gray !important;
	font-family:$header-font-family;
	padding:$baseline*.5 $baseline*2;
	padding-right:em(25);
	margin: 0 auto;
	font-size:em(14);
	background-color:$white;
	border-radius:em(3);
	&:visited {
		color:$white;
	}
	&:hover {
		color:$white;
	}
	&:after {
		content:'';
		background-color:transparent;
		background-image:url(img/ico-exit.svg);
		background-size:em(13) em(13);
		background-position:center center;
		background-repeat: no-repeat;
		display:block;
		width:em(25);
		top:0;
		bottom:0;
		right:0;
		position:absolute;
	}
	@include mq(medium) {
		display:none;
	}
	
}
%snc-part {
	padding:1em;
	@include mq(medium) {
		display:none;
	}
}
.snc-header {
	text-align:center;
	@extend %snc-part;
	@include mq(medium) {
		padding:0;
	}
}
.snc-footer {
	@extend %snc-part;
}