// Inner Wrap
/*
This is used to separate sections/modules of the website while still keeping a consistent max-width. Example below:
<section class="about-module">
  <div class="inner-wrap">
    Content here...
  </div>
</section>
*/
.inner-wrap {
  @include outer-container;
  > *:first-child {
    margin-top:0;
  }
  > *:last-child {
    margin-bottom:0;
  }
  @include pad($baseline*3 $baseline*2 $baseline*3 $baseline*2);
  @include mq(medium) {
    @include pad($baseline*5 $baseline*3 $baseline*5 $baseline*3);
  }
}

// Media Object
.media-object {
  overflow:hidden;
}
.media-object-img {
  width:20%;
  float:left;
  display:block;
  margin-right:5%;
  img {
    width:100%;
  }
}
.media-object-body {
  width:75%;
  float:left;
  
}
.media-object-header {
  margin-top:0;
  margin-bottom:.15em;
}
.media-grid-2 {
  > * {
  
      
      margin-bottom:$baseline*2;
    }

  @include mq(medium) {
    > * {
  
      @include span-columns(4.5 of 9);
      @include omega(2n);
      margin-bottom:$baseline*3;
    }
  }
}

// Rows with IE8 Support
/*
This class is supposed to be assigned to the parent of items you need organized. Example below:
<div class="rows-of-2">
  <div>Item</div>
  <div>Item</div>
  <div>Item</div>
  <div>Item</div>
</div>
This would give you 2 rows with 2 columns.
*/
.rows-of-2 {
  @include row();
  > * {
    margin-bottom:$baseline*3;
    display:block;
    position:relative;
    > * {
      &:first-child {
        margin-top:0;
      }
    }
    @include mq(medium) {
      
      @include span-columns(6 of 12);
      @include omega(2n);
      &:nth-last-child(2) {
         &:last-child {
            margin-bottom:0 !important;
         }
      }
      &:nth-last-child(1) {
          &:last-child {
            margin-bottom:0 !important;
         }
      }
    }
  }
}
.lt-ie9 {
  .rows-of-2 {
    @include row();
    > * {
      margin-bottom:$baseline*3;
      display:block;
      position:relative;
      > * {
        &:first-child {
          margin-top:0;
        }
      }
      @include mq(medium) {
        float:left;
        width:50% !important;
        margin-left:0 !important;
        margin-right:0 !important;
        padding-left:$baseline*2;
        padding-right:$baseline*2;
        display:inline-block !important;
        clear:none !important
      }
    }
  }
}

.rows-of-3 {
  @include row();
  > * {
    margin-bottom:$baseline*3;
    display:block;
    position:relative;
    > * {
      &:first-child {
        margin-top:0;
      }
    }
    @include mq(medium) {
      
      @include span-columns(4 of 12);
      @include omega(3n);
       
    }
  }
}
.lt-ie9 {
  .rows-of-3 {
    @include row();
    > * {
      margin-bottom:$baseline*3;
      display:block;
      position:relative;
      > * {
        &:first-child {
          margin-top:0;
        }
      }
      @include mq(medium) {
        
        float:left;
        width:33.3% !important;
        margin-left:0 !important;
        margin-right:0 !important;
        padding-left:$baseline*2;
        padding-right:$baseline*2
         
      }
    }
  }
}
.rows-of-4 {
  @include row();
  > * {
    margin-bottom:$baseline*3;
    display:block;
    position:relative;
    > * {
      &:first-child {
        margin-top:0;
      }
    }
    @include mq(medium) {
      
      @include span-columns(3 of 12);
      @include omega(4n);

      
    }
  }
}
.lt-ie9 {
  .rows-of-4 {
    @include row();
    > * {
      margin-bottom:$baseline*3;
      display:block;
      position:relative;
      > * {
        &:first-child {
          margin-top:0;
        }
      }
      @include mq(medium) {
        
        float:left;
        width:25% !important;
        margin-left:0 !important;
        margin-right:0 !important;
        padding-left:$baseline*2;
        padding-right:$baseline*2;        
      }
    }
  }
}

.mobile-rows-of-2 {
  @include mq(small) {
    @include row();
    > * {
      margin-bottom:$baseline*3;
      display:block;
      position:relative;
      > * {
        &:first-child {
          margin-top:0;
        }
      }
      &:nth-last-child(1) {
        background-color:red;
        margin-bottom:0;
      }
      &:nth-last-child(2) {
        background-color:green;
        margin-bottom:0;
      }
      @include span-columns(2 of 4);
      @include omega(2n);
    }
  }
}
.row {
  @include row();
  clear:both;
}
@include mq(medium) {
  .col-1 {
    @include span-columns(1 of 12);
  }
  .col-2 {
    @include span-columns(2 of 12);
  }
  .col-3 {
    @include span-columns(3 of 12);
  }
  .col-4 {
    @include span-columns(4 of 12);
  }
  .col-5 {
    @include span-columns(5 of 12);
  }
  .col-6 {
    @include span-columns(6 of 12);
  }
  .col-7 {
    @include span-columns(7 of 12);
  }
  .col-8 {
    @include span-columns(8 of 12);
  }
  .col-9 {
    @include span-columns(9 of 12);
  }
  .col-10 {
    @include span-columns(10 of 12);
  }
  .col-11 {
    @include span-columns(11 of 12);
  }
  .col-12 {
    @include span-columns(12 of 12);
  }
  .col-last {
    @include omega;
    margin-right:0 !important;
  }
}



/*=============== Social Media ===============*/
.social-wrap {
  overflow:hidden;
  a {
    display:block;
    float:left;
    width:25%;
    text-align:center;
    position:relative;
    path {
      @include transition (all .1s linear);
    }
    &:hover {
      opacity:.75;
      path { 
       // fill: $blue; 
      }
    }
  }
  img {
    display:inline-block;
    margin:0 auto;
    width:1.1em;
    height:auto;
    vertical-align:middle;
  }
  svg {
    display:inline-block;
    vertical-align:middle;
  }

  /*span {
    background-color:$white;
    border-radius:3px;
    display:inline-block;
    padding:.15em;
    img {
      display:block;
      margin:0 auto;
    }
  }*/
}






/*=============== LEGACY Layout Patterns ===============*/

// ------------------------------------------------------------
// Omega Reset
// ------------------------------------------------------------
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}


.col-2 {
  overflow:hidden;
  @include mq(medium) {
    > * {
      @include span-columns(6 of 12);
      @include omega(2n);
    }
  }
}
.col-2-mobile {
  overflow:hidden;
  > * {
    @include span-columns(6 of 12);
    @include omega(2n);
  }
  
}
.col-3 {
  overflow:hidden;

  > * {
    margin-bottom:$baseline*3;
    display:block;
    position:relative;
    @include mq(medium) {
      margin-bottom:0;
      @include span-columns(4 of 12);
      @include omega(3n);
    }
  }
}
.col-3-mobile {
  overflow:hidden;
  > * {
    @include span-columns(4 of 12);
    @include omega(3n);
  }
}

.col-4 {
  overflow:hidden;
  > * {
    @include mq(medium) {
      @include span-columns(3 of 12);
      @include omega(4n);
    }
  }
}
.col-4-mobile {
  overflow:hidden;
  > * {
    @include span-columns(3 of 12);
    @include omega(4n);
  }
}
.col-2-4 {
  overflow:hidden;
  > * {
    @include span-columns(6 of 12);
    @include omega(2n);
    @include mq(medium) {
      @include omega-reset(2n);
      @include span-columns(3 of 12);
      @include omega(4n);
    }
  }
}
.col-2-5 {
  overflow:hidden;
  > * {
    @include span-columns(6 of 12);
    @include omega(2n);
    @include mq(medium) {
      @include omega-reset(2n);
      @include span-columns(1 of 5);
      @include omega(5n);
    }
  }
}
.col-2-3 {
  overflow:hidden;
  > * {
    @include span-columns(6 of 12);
    @include omega(2n);
    @include mq(medium) {
      @include omega-reset(2n);
      @include span-columns(4 of 12);
      @include omega(3n);
    }
  }
}
.col-2-3-4 {
  overflow:hidden;
  > * {
    @include span-columns(6 of 12);
    @include omega(2n);
    @include mq(medium) {
      @include omega-reset(2n);
      @include span-columns(4 of 12);
      @include omega(3n);
    }
    @include mq(large) {
      @include omega-reset(3n);
      @include span-columns(3 of 12);
      @include omega(4n);
    }
  }
}
.col-74 {
  overflow:hidden;
  @include mq(medium) {
    > *:first-child {
      @include span-columns(7 of 12);
    }
    > *:last-child {
      @include shift(1);
      @include span-columns(4 of 12);
    }
  }
}


 /*=============== Lightbox / Magnific Popup  ===============*/

  .white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    > * {
      margin-top: 0;
    }
    .mfp-close {
    color:$yellowdark !important;
  }
  }


  /* overlay at start */

  .mfp-fade.mfp-bg {
    opacity: 0;
    @include transition (all .5s ease-in-out);
  }


  /* overlay animate in */

  .mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
  }


  /* overlay animate out */

  .mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
  }


  /* content at start */

  .mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    @include transition (all .5s ease-in-out);
    @include transform(translateY(100px));
  }


  /* content animate it */

  .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
    @include transform(translateY(0px));
  }


  /* content animate out */

  .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
    @include transform(translateY(100px));
  }


.anchor-links-nav{
    
     &.stuck{
      position: fixed;
      left: 0;
      width: 100%;
      margin-top: 0;
      z-index: 99;
      margin-top: 0;
      top: 0px !important;
      @include mq(large) {
            top: 166px !important;
        }
  
      
    } 
  li{
    text-align: center;
    &:after{
        /*content:'';
        width:1px;
        height: em(37);
        background-color: #ffbc47;
        position: absolute;
        top: em(20);
        right: -1px;*/
        display:none !important;
      }

      > a{
        display: inline-block;
        font-family: $header-font-family;
        font-size: em(18);
        line-height: em(24,18);
        font-weight: 700;
        color: $white;
        text-decoration: none;
        padding: em(20,18) em(42,18);
        /*background-color: #000;*/
      }
  }
  @include mq(xlarge){
   
    li{
      position: relative;
      > a{
        padding: em(12,18) em(13,18) em(42,18);

      }
      &:after{
        content:'';
        width:1px;
        height: em(37);
        background-color: #ffbc47;
        position: absolute;
        top: em(20);
        right: -1px;
      }
      &:last-child{
        &:after{
          display:none;
        }
      }

      &.active{
        background: none;
        background-image: url(img/landing-arrow.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center top;
        > a{
          color: $white;
        }
        &:after{
          display:none;
        }
      }
    }
  }
  @include mq(xxlarge){
    li{
      > a{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: em(39,18) em(20,18);

      }
      &:after{
        top: em(39);
      }
      &.active{
        background-position: center bottom;
               }
    }
  }
  @include mq(xxxlarge){
    li{
      &.active{
        background-position: center bottom;
         background-color: rgba(0, 0, 0, 0.74);
      }
    }
  }
  @include mq(medium){
    
    li{
      &.active{
        background-position: center bottom;
         
      }
    }
  }
}

.anchor-links-wrap{
  display: block;
   background-color: rgba(0, 0, 0, 0.74);
  @include mq(large) {
    display: flex;
    flex-wrap: wrap;
     background-color: rgba(0, 0, 0, 0.74);
    li{
      width: 33%;
    }
  }
  @include mq(xlarge) {
    display: flex;
    /*background-color: $white;*/
    background-color: rgba(0, 0, 0, 0.74);
    li{
      width: 33%;
      /*min-height: em(126);*/
    }
  }
}


.page-inner-anchor{
  display: block;
  margin-top: -180px;
  padding-top: 238px;
   
}

.pillar-page{
  > .inner-wrap{
    padding-top: 0 !important;
    padding-bottom: 0;
  }
}
