/*=== Typography ===*/






body {
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 { 
	font-weight:300; font-family:$header-font-family;
	em {
		font-style:normal;
		color:$yellow;
	}

}


h1 {
	font-size:em(42);
	font-weight:400;
	text-transform:uppercase;
	margin-top:0;

}
h2 {
    font-size: 1.75em; /* 36 / 16 */
    line-height: 1.333333333333333em; /* 48 / 36 */
    margin-bottom: .6666666666666667em; /* 24 / 36 */
    //text-transform: uppercase;
    
}
h3 {
    font-size: 1.5em; /* 24 / 16 */
    line-height: 1em; /* 24 / 24 */
    margin-bottom: 1em; /* 24 / 24 */
}
h4 {
    font-size: 1.3125em; /* 21 / 16 */
    line-height: 1.142857142857143em; /* 24 / 21 */
    margin-bottom: 1.142857142857143em; /* 24 / 21 */
}
h5 {
    font-size: 1.125em; /* 18 / 16 */
    line-height: 1.333333333333333em; /* 24 / 18 */
    margin-bottom: 1.333333333333333em; /* 24 / 18 */
}
h6 {
    font-size: 1em; /* 16 / 16 */
    line-height: 1.5em; /* 24 / 16 */
    margin-bottom: 1.5em; /* 24 / 16 */
}
p {
    //font-size: em(18); /* 16 / 16 */
    line-height: 1.75em; /* 24 / 16 */
    margin-bottom: 1.5em; /* 24 / 16 */

    
}
.text-large-header {
	font-size:em(22);
	font-family:$header-font-family;
	font-weight:300;
	display:block;
	margin-bottom:$baseline;
}
.emph {
	font-size:em(23);
	font-weight:300;
	margin-bottom:1em;
	line-height:1.4em;
	@include mq(medium) {
		font-size:em(26);
	}
}


a {
  @include transition(color 0.1s linear);
  /*color: $base-link-color;*/
  text-decoration: underline;
	color:$hover-link-color;
	font-weight:700;
	
  &:hover {
    color: $black;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}
.text-large {
	font-size:1.25em;
}
/*=============== Destination Page Header ===============*/
.page-header {
	background-color:$yellow;
	background-image:url(img/page-header-bg.jpg);
  background-size:cover;
	background-repeat:no-repeat;
	background-position:bottom center;
	color:$white;
	text-shadow: 0 0 8px #000000;
	h1 {
		margin:0;
		font-size:em(24);
	}
	@include mq(medium) {
		h1 {
			margin:0;
			font-size:em(42);
		}
	}
}



hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  padding:0;
  margin:0;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: "\2014 \00A0";
  }
}
