// Typography
$base-font-family: Arial, sans-serif;
$header-font-family: 'Oswald', sans-serif;

// Font Sizes
$small-font-size: em(14);
$base-font-size: em(16);
$medium-font-size: 1em;
$large-font-size: 1em;
$xlarge-font-size: 1em;
$display-font-size: 1em;

$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 2;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

// Line height
$baseline:em(8); //Old habits die hard
$base-line:em(8);
$base-line-height: 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Colors
$white:rgb(255,255,255);
$black:rgb(0,0,0);
$blacktrans:rgba(0,0,0, .25);
$yellow:rgb(255,189,52);
$yellowdark:darken($yellow,10%);
$yellowwhite:#fff6e4;
$dark-yellow:#ffbd34;
$grey:#979797;
$dark-gray: darken($grey,35%); $greydark:darken($grey,35%);
$light-gray: lighten($grey,33%); $greylight:lighten($grey,33%);
$medium-gray: #999;
$red:#902716;
$light-grey:#bbbbbb;
$dark-black:#261d09;
$light-yellow:#e5a31f;


// Background Color
$base-background-color: white;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $yellow;

// Link Colors
$base-link-color: $black;
$hover-link-color: $yellow;
$base-button-color: $yellow;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;


// Navigation
$nav-font-size:em(20);
$nav-height:em(50);
$nav-background:$black;//transparent
$nav-background-mobile:$black;
$nav-text-color:$white;
$nav-text-color-hover:$light-gray;
$nav-hover:$dark-gray;
$nav-active-background:darken($nav-background, 10%);
$nav-border-mobile:1px solid lighten($nav-background-mobile,5%);
$nav-font-family:$header-font-family;
$nav-font-weight:300;
$nav-text-transform:uppercase;
$nav-text-align:center;


$nav-spacing-mobile:$baseline*2;
$nav-spacing-medium:0.5em;
$nav-spacing-large:$baseline*2;
$nav-spacing-xlarge:$baseline*2;

$nav-subnav-font-size:em(16);
$nav-subnav-height:em(50);
$nav-subnav-background:$nav-hover;
$nav-subnav-border:1px solid lighten($nav-hover,10%);
$nav-subnav-hover:darken($nav-subnav-background, 10%);
$nav-subnav-text-align:left;

$nav-mobile-width:17em;